<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  

  <body>
<header>
	<nav class="be-red white"> 
	<ul class="no-list row center-xs">
		<li class="col-md">
			inicio
		</li>
		<li class="col-md">
			Diseño
		</li>
		<li class="col-md">
			TEC
		</li>
		<li class="col-md">
			bla
		</li>
	</ul>
	</nav>
</header>
  	
      <%= yield %>
  </body>
</html>
